{% set class = "ksma-search-hero" %}
<section class="{{ class }}">
	<div class="{{ class }}__boundary">
		<h1 class="{{ class }}__title">{{ __('Site search', 'flynt') }}</h1>
		{{ renderComponent('SearchForm') }}
	</div>
</section>

